<a href="https://colab.research.google.com/github/VaibhavDS19/ML-DSC/blob/master/DataScience/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas assignment
- Different tasks will be detailed by comments or text.
- It should be noted there may be more than one different way to answer a question or complete an exercise.
- For further reference and resources, it's advised to check out the pandas documnetation.

In [ ]:
# Import pandas
import pandas as pd

In [ ]:
# Create a series of fruits(string) of length 5 and view it
# Create a series of prices(int) of length 5 and view it

In [ ]:
# Create a fruit_prices dataframe out of the 2 series you just made and view it

In [ ]:
# Find the mean, sum, standard deviation, variance of the prices

### CSV - Cereal data
- Download the csv file given to you and place it in the same directory as your notebook if you are using Jupyter notebooks.
- If you are using Google colab mount the google drive to your colab notebook. Upload your csv file into any folder in your drive. Then do a right click on csv file and copy the file path and paste this path while importing this csv with Pandas

In [ ]:
# import the csv file given to you and turn it into a DataFrame

In [ ]:
# Find the different datatypes of the DataFrame

In [ ]:
# Describe your current DataFrame using describe()

In [ ]:
# Get information about your DataFrame using info()

In [ ]:
# Find the length of the DataFrame

In [ ]:
# Find the unique values in shelf column

In [ ]:
# Show the first 7 rows of the DataFrame

In [ ]:
# Show the last 7 rows of the DataFrame

In [ ]:
# Use .loc to find the sodium value of the 4th item

In [ ]:
# Use .iloc to find the value of the 7th row and 7th column

In [ ]:
# Select the "name" column from the DataFrame

In [ ]:
# Select the rows which have more than 100 calories

In [ ]:
# Create a crosstab of the name and vitamins columns

In [ ]:
# Group columns of the DataFrame by the manufacturer(mfr column) and find the average

In [ ]:
# Get rid of the decimal digits in ratings. #For example: 68.402973 -> 68

In [ ]:
# Check for missing values in the dataframe

In [ ]:
# Create a "Safe for consumption" column with boolean value True

In [ ]:
# Remove the sugars column

In [ ]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1

In [ ]:
# Save the the shuffled DataFrame to a new variable