<a href="https://colab.research.google.com/github/VaibhavDS19/ML-DSC/blob/master/DataStufW/Pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas assignment
- Different tasks will be detailed by comments or text.
- It should be noted there may be more than one different way to answer a question or complete an exercise.
- For further reference and resources, it's advised to check out the pandas documnetation.

In [21]:
# Import pandas
import pandas as pd

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
# Create a series of fruits(string) of length 5 and view it
# Create a series of prices(int) of length 5 and view it
fruits = pd.Series(['Apple', 'Banana','Mango','Orange','Strawberry'])
prices = pd.Series([100,50,200,300,400])
print(fruits)
print(prices)

0         Apple
1        Banana
2         Mango
3        Orange
4    Strawberry
dtype: object
0    100
1     50
2    200
3    300
4    400
dtype: int64

In [26]:
# Create a fruit_prices dataframe out of the 2 series you just made and view it
fruit_prices = pd.DataFrame({"fruits":fruits,"prices":prices})
fruit_prices

       fruits  prices
0       Apple     100
1      Banana      50
2       Mango     200
3      Orange     300
4  Strawberry     400

In [28]:
# Find the mean, sum, standard deviation, variance of the prices
print("mean: ", fruit_prices['prices'].mean())
print("sum: ", fruit_prices['prices'].sum())
print("std: ", fruit_prices['prices'].std())
print("var: ", fruit_prices['prices'].var())

mean:  210.0
sum:  1050
std:  143.17821063276352
var:  20500.0

### CSV - Cereal data
- Download the csv file given to you and place it in the same directory as your notebook if you are using Jupyter notebooks.
- If you are using Google colab mount the google drive to your colab notebook. Upload your csv file into any folder in your drive. Then do a right click on csv file and copy the file path and paste this path while importing this csv with Pandas

In [41]:
# import the csv file given to you and turn it into a DataFrame
data = pd.read_csv('/content/drive/My Drive/cereal.csv')

In [42]:
# Find the different datatypes of the DataFrame
data.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [43]:
# Describe your current DataFrame using describe()
data.describe()

         calories    protein        fat  ...     weight       cups     rating
count   77.000000  77.000000  77.000000  ...  77.000000  77.000000  77.000000
mean   106.883117   2.545455   1.012987  ...   1.029610   0.821039  42.665705
std     19.484119   1.094790   1.006473  ...   0.150477   0.232716  14.047289
min     50.000000   1.000000   0.000000  ...   0.500000   0.250000  18.042851
25%    100.000000   2.000000   0.000000  ...   1.000000   0.670000  33.174094
50%    110.000000   3.000000   1.000000  ...   1.000000   0.750000  40.400208
75%    110.000000   3.000000   2.000000  ...   1.000000   1.000000  50.828392
max    160.000000   6.000000   5.000000  ...   1.500000   1.500000  93.704912

[8 rows x 13 columns]

In [44]:
# Get information about your DataFrame using info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [45]:
# Find the length of the DataFrame
len(data)

77

In [48]:
# Find the unique values in shelf column
data['shelf'].unique

<bound method Series.unique of 0     3
1     3
2     3
3     3
4     3
     ..
72    3
73    2
74    1
75    1
76    1
Name: shelf, Length: 77, dtype: int64>

In [49]:
# Show the first 7 rows of the DataFrame
data.head(7)

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843
5    Apple Cinnamon Cheerios   G    C       110  ...      1     1.0  0.75  29.509541
6                Apple Jacks   K    C       110  ...      2     1.0  1.00  33.174094

[7 rows x 16 columns]

In [50]:
# Show the last 7 rows of the DataFrame
data.tail(7)

                   name mfr type  calories  ...  shelf  weight  cups     rating
70    Total Raisin Bran   G    C       140  ...      3     1.5  1.00  28.592785
71    Total Whole Grain   G    C       100  ...      3     1.0  1.00  46.658844
72              Triples   G    C       110  ...      3     1.0  0.75  39.106174
73                 Trix   G    C       110  ...      2     1.0  1.00  27.753301
74           Wheat Chex   R    C       100  ...      1     1.0  0.67  49.787445
75             Wheaties   G    C       100  ...      1     1.0  1.00  51.592193
76  Wheaties Honey Gold   G    C       110  ...      1     1.0  0.75  36.187559

[7 rows x 16 columns]

In [51]:
# Use .loc to find the sodium value of the 4th item
data['sodium'].loc[3]

140

In [52]:
# Use .iloc to find the value of the 7th row and 7th column
data.iloc[6][6]

125

In [54]:
# Select the "name" column from the DataFrame
data.loc[:,'name']

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [55]:
# Select the rows which have more than 100 calories
data[data['calories']>100]

                                      name mfr type  ...  weight  cups     rating
1                        100% Natural Bran   Q    C  ...    1.00  1.00  33.983679
4                           Almond Delight   R    C  ...    1.00  0.75  34.384843
5                  Apple Cinnamon Cheerios   G    C  ...    1.00  0.75  29.509541
6                              Apple Jacks   K    C  ...    1.00  1.00  33.174094
7                                  Basic 4   G    C  ...    1.33  0.75  37.038562
10                            Cap'n'Crunch   Q    C  ...    1.00  0.75  18.042851
11                                Cheerios   G    C  ...    1.00  1.25  50.764999
12                   Cinnamon Toast Crunch   G    C  ...    1.00  0.75  19.823573
13                                Clusters   G    C  ...    1.00  0.50  40.400208
14                             Cocoa Puffs   G    C  ...    1.00  1.00  22.736446
15                               Corn Chex   R    C  ...    1.00  1.00  41.445019
17                               Corn Pops   K    C  ...    1.00  1.00  35.782791
18                           Count Chocula   G    C  ...    1.00  1.00  22.396513
19                      Cracklin' Oat Bran   K    C  ...    1.00  0.50  40.448772
21                                 Crispix   K    C  ...    1.00  1.00  46.895644
24                             Froot Loops   K    C  ...    1.00  1.00  32.207582
25                          Frosted Flakes   K    C  ...    1.00  0.75  31.435973
27  Fruit & Fibre Dates; Walnuts; and Oats   P    C  ...    1.25  0.67  40.917047
28                           Fruitful Bran   K    C  ...    1.33  0.67  41.015492
29                          Fruity Pebbles   P    C  ...    1.00  0.75  28.025765
31                          Golden Grahams   G    C  ...    1.00  0.75  23.804043
33                              Grape-Nuts   P    C  ...    1.00  0.25  53.371007
34                      Great Grains Pecan   P    C  ...    1.00  0.33  45.811716
35                        Honey Graham Ohs   Q    C  ...    1.00  1.00  21.871292
36                      Honey Nut Cheerios   G    C  ...    1.00  0.75  31.072217
37                              Honey-comb   P    C  ...    1.00  1.33  28.742414
38             Just Right Crunchy  Nuggets   K    C  ...    1.00  1.00  36.523683
39                  Just Right Fruit & Nut   K    C  ...    1.30  0.75  36.471512
40                                     Kix   G    C  ...    1.00  1.50  39.241114
42                            Lucky Charms   G    C  ...    1.00  1.00  26.734515
44        Muesli Raisins; Dates; & Almonds   R    C  ...    1.00  1.00  37.136863
45       Muesli Raisins; Peaches; & Pecans   R    C  ...    1.00  1.00  34.139765
46                    Mueslix Crispy Blend   K    C  ...    1.50  0.67  30.313351
48                        Nut&Honey Crunch   K    C  ...    1.00  0.67  29.924285
49               Nutri-Grain Almond-Raisin   K    C  ...    1.33  0.67  40.692320
51                    Oatmeal Raisin Crisp   G    C  ...    1.25  0.50  30.450843
52                   Post Nat. Raisin Bran   P    C  ...    1.33  0.67  37.840594
58                             Raisin Bran   K    C  ...    1.33  0.75  39.259197
61                               Rice Chex   R    C  ...    1.00  1.13  41.998933
62                           Rice Krispies   K    C  ...    1.00  1.00  40.560159
66                                  Smacks   K    C  ...    1.00  0.75  31.230054
67                               Special K   K    C  ...    1.00  1.00  53.131324
69                       Total Corn Flakes   G    C  ...    1.00  1.00  38.839746
70                       Total Raisin Bran   G    C  ...    1.50  1.00  28.592785
72                                 Triples   G    C  ...    1.00  0.75  39.106174
73                                    Trix   G    C  ...    1.00  1.00  27.753301
76                     Wheaties Honey Gold   G    C  ...    1.00  0.75  36.187559

[47 rows x 16 columns]

In [59]:
# Create a crosstab of the name and vitamins columns
ct = pd.crosstab(data['name'], data['vitamins'])
ct

vitamins                   0    25   100
name
100% Bran                    0    1    0
100% Natural Bran            1    0    0
All-Bran                     0    1    0
All-Bran with Extra Fiber    0    1    0
Almond Delight               0    1    0
...                        ...  ...  ...
Triples                      0    1    0
Trix                         0    1    0
Wheat Chex                   0    1    0
Wheaties                     0    1    0
Wheaties Honey Gold          0    1    0

[77 rows x 3 columns]

In [60]:
# Group columns of the DataFrame by the manufacturer(mfr column) and find the average
data.groupby('mfr').mean()

       calories   protein       fat  ...    weight      cups     rating
mfr                                  ...
A    100.000000  4.000000  1.000000  ...  1.000000  1.000000  54.850917
G    111.363636  2.318182  1.363636  ...  1.049091  0.875000  34.485852
K    108.695652  2.652174  0.608696  ...  1.077826  0.796087  44.038462
N     86.666667  2.833333  0.166667  ...  0.971667  0.778333  67.968567
P    108.888889  2.444444  0.888889  ...  1.064444  0.714444  41.705744
Q     95.000000  2.625000  1.750000  ...  0.875000  0.823750  42.915990
R    115.000000  2.500000  1.250000  ...  1.000000  0.871250  41.542997

[7 rows x 13 columns]

In [64]:
# Get rid of the decimal digits in ratings. #For example: 68.402973 -> 68
data['rating'] = data['rating'].astype(int)
data['rating']

0     68
1     33
2     59
3     93
4     34
      ..
72    39
73    27
74    49
75    51
76    36
Name: rating, Length: 77, dtype: int64

In [65]:
# Check for missing values in the dataframe
data.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [67]:
# Create a "Safe for consumption" column with boolean value True
data['safe for consumption'] = True
data

                         name mfr type  ...  cups  rating  safe for consumption
0                   100% Bran   N    C  ...  0.33      68                  True
1           100% Natural Bran   Q    C  ...  1.00      33                  True
2                    All-Bran   K    C  ...  0.33      59                  True
3   All-Bran with Extra Fiber   K    C  ...  0.50      93                  True
4              Almond Delight   R    C  ...  0.75      34                  True
..                        ...  ..  ...  ...   ...     ...                   ...
72                    Triples   G    C  ...  0.75      39                  True
73                       Trix   G    C  ...  1.00      27                  True
74                 Wheat Chex   R    C  ...  0.67      49                  True
75                   Wheaties   G    C  ...  1.00      51                  True
76        Wheaties Honey Gold   G    C  ...  0.75      36                  True

[77 rows x 17 columns]

In [68]:
# Remove the sugars column
data.drop('sugars', axis=1)

                         name mfr type  ...  cups  rating  safe for consumption
0                   100% Bran   N    C  ...  0.33      68                  True
1           100% Natural Bran   Q    C  ...  1.00      33                  True
2                    All-Bran   K    C  ...  0.33      59                  True
3   All-Bran with Extra Fiber   K    C  ...  0.50      93                  True
4              Almond Delight   R    C  ...  0.75      34                  True
..                        ...  ..  ...  ...   ...     ...                   ...
72                    Triples   G    C  ...  0.75      39                  True
73                       Trix   G    C  ...  1.00      27                  True
74                 Wheat Chex   R    C  ...  0.67      49                  True
75                   Wheaties   G    C  ...  1.00      51                  True
76        Wheaties Honey Gold   G    C  ...  0.75      36                  True

[77 rows x 16 columns]

In [70]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
data = data.sample(frac=1)
data

                           name mfr type  ...  cups  rating  safe for consumption
65    Shredded Wheat spoon size   N    C  ...  0.67      72                  True
53                   Product 19   K    C  ...  1.00      41                  True
68      Strawberry Fruit Wheats   N    C  ...  1.00      59                  True
38  Just Right Crunchy  Nuggets   K    C  ...  1.00      36                  True
42                 Lucky Charms   G    C  ...  1.00      26                  True
..                          ...  ..  ...  ...   ...     ...                   ...
74                   Wheat Chex   R    C  ...  0.67      49                  True
60               Raisin Squares   K    C  ...  0.50      55                  True
57               Quaker Oatmeal   Q    H  ...  0.67      50                  True
75                     Wheaties   G    C  ...  1.00      51                  True
76          Wheaties Honey Gold   G    C  ...  0.75      36                  True

[77 rows x 17 columns]

In [71]:
# Save the the shuffled DataFrame to a new variable
sdata = data
sdata

                           name mfr type  ...  cups  rating  safe for consumption
65    Shredded Wheat spoon size   N    C  ...  0.67      72                  True
53                   Product 19   K    C  ...  1.00      41                  True
68      Strawberry Fruit Wheats   N    C  ...  1.00      59                  True
38  Just Right Crunchy  Nuggets   K    C  ...  1.00      36                  True
42                 Lucky Charms   G    C  ...  1.00      26                  True
..                          ...  ..  ...  ...   ...     ...                   ...
74                   Wheat Chex   R    C  ...  0.67      49                  True
60               Raisin Squares   K    C  ...  0.50      55                  True
57               Quaker Oatmeal   Q    H  ...  0.67      50                  True
75                     Wheaties   G    C  ...  1.00      51                  True
76          Wheaties Honey Gold   G    C  ...  0.75      36                  True

[77 rows x 17 columns]